extends _index.pug

block state
  - const scripts = ['../text-editor/index.min.js', '../text-editor.history/index.min.js', '../text-editor.key/index.min.js', '../text-editor.source/index.min.js', 'index.min.js']
  - const styles = ['../layout/index.min.css']
  - const theme = '#000'
  - const title = 'Text Editor Source XML ' + version

block script
  script
    | const editor = new TextEditor(document.querySelector('textarea'), {
    |     commands: {
    |         pull: function () {
    |             return this.pull().record(), false;
    |         },
    |         push: function () {
    |             return this.push().record(), false;
    |         },
    |         redo: function () {
    |             return this.redo(), false;
    |         },
    |         undo: function () {
    |             return this.undo(), false;
    |         }
    |     },
    |     keys: {
    |         'Control-[': 'pull',
    |         'Control-]': 'push',
    |         'Control-y': 'redo',
    |         'Control-z': 'undo'
    |     },
    |     tab: 2,
    |     with: [TextEditor.History, TextEditor.Key, TextEditor.SourceXML, TextEditor.Source]
    | });

block style
  style
    | mark {
    |   border-left: 1px solid #f00;
    |   border-right: 1px solid #f00;
    | }
    |
    | mark:empty {
    |   border-right-width: 0;
    | }

block content
  header
    h1
      a(href='../text-editor/index.html#extensions') &laquo;
      = ' ' + title
    p #[abbr(title='Extensible Markup Language') XML] source extension for #[a(href='../text-editor/index.html') Text Editor]. This extension provides a set of key strokes to generate responses like in a typical #[abbr(title='Extensible Markup Language') XML] source code editor.
    hr
  main
    p
      label
        input(checked onchange='return editor[this.checked ? \'attach\' : \'detach\'](), false;' type='checkbox')
        = ' '
        span Enable #[abbr(title='Extensible Markup Language') XML] Source Editor
    p
      textarea(placeholder!='Code goes here&hellip;' spellcheck='false' style={
        'display': 'block',
        'width': '100%'
      })
    p(role='group')
      select(style={
        'flex': '1'
      })
        option(disabled selected) Test&hellip;
        optgroup(label='insert')
          option(value='editor.insertComment(\'asdf\')') insertComment('asdf')
          option(value='editor.insertComment(\'asdf\', 0)') insertComment('asdf', 0)
          option(value='editor.insertComment(\'asdf\', 1)') insertComment('asdf', 1)
          option(value='editor.insertData(\'asdf\')') insertData('asdf')
          option(value='editor.insertData(\'asdf\', 0)') insertData('asdf', 0)
          option(value='editor.insertData(\'asdf\', 1)') insertData('asdf', 1)
          option(value='editor.insertElement(\'<time></time>\')') insertElement('&lt;time&gt;&lt;/time&gt;')
          option(value='editor.insertElement(\'<time></time>\', 0)') insertElement('&lt;time&gt;&lt;/time&gt;', 0)
          option(value='editor.insertElement(\'<time></time>\', 1)') insertElement('&lt;time&gt;&lt;/time&gt;', 1)
          option(value='editor.insertElement([\'time\', (new Date).toLocaleString(\'en\'), {datetime: (new Date).toISOString()}])') insertElement(['time', date.toLocaleString('en'), {datetime: date.toISOString()}])
          option(value='editor.insertElement([\'time\', (new Date).toLocaleString(\'en\'), {datetime: (new Date).toISOString()}], 0)') insertElement(['time', date.toLocaleString('en'), {datetime: date.toISOString()}], 0)
          option(value='editor.insertElement([\'time\', (new Date).toLocaleString(\'en\'), {datetime: (new Date).toISOString()}], 1)') insertElement(['time', date.toLocaleString('en'), {datetime: date.toISOString()}], 1)
          option(value='editor.insertInstruction(\'asdf\')') insertInstruction('asdf')
          option(value='editor.insertInstruction(\'asdf\', 0)') insertInstruction('asdf', 0)
          option(value='editor.insertInstruction(\'asdf\', 1)') insertInstruction('asdf', 1)
          option(value='editor.insertInstruction(\' ob_start(); \', -1, true, \'php\')') insertInstruction(' ob_start(); ', -1, true, 'php')
          option(value='editor.insertInstruction(\' $content = ob_get_contents(); \', 0, true, \'php\')') insertInstruction(' $content = ob_get_contents(); ', 0, true, 'php')
          option(value='editor.insertInstruction(\' ob_end_clean(); \', 1, true, \'php\')') insertInstruction(' ob_end_clean(); ', 1, true, 'php')
        optgroup(label='peel')
          option(value='editor.peelComment()') peelComment()
          option(value='editor.peelComment(true)') peelComment(true)
          option(value='editor.peelData()') peelData()
          option(value='editor.peelData(true)') peelData(true)
          option(value='editor.peelElement(\'<time>\', \'</time>\')') peelElement('&lt;time&gt;', '&lt;/time&gt;')
          option(value='editor.peelElement(\'<time>\', \'</time>\', true)') peelElement('&lt;time&gt;', '&lt;/time&gt;', true)
          option(value='editor.peelElement([\'time\'])') peelElement(['time'])
          option(value='editor.peelElement([\'time\'], true)') peelElement(['time'], true)
          option(value='editor.peelInstruction()') peelInstruction()
          option(value='editor.peelInstruction(true)') peelInstruction(true)
        optgroup(label='select')
          option(value='editor.selectComment()') selectComment()
          option(value='editor.selectComment(true)') selectComment(true)
          option(value='editor.selectData()') selectData()
          option(value='editor.selectData(true)') selectData(true)
          option(disabled value='editor.selectElement()') selectElement()
          option(value='editor.selectInstruction()') selectInstruction()
          option(value='editor.selectInstruction(true)') selectInstruction(true)
        optgroup(label='toggle')
          option(value='editor.toggleComment()') toggleComment()
          option(value='editor.toggleComment(true)') toggleComment(true)
          option(value='editor.toggleData()') toggleData()
          option(value='editor.toggleData(true)') toggleData(true)
          option(value='editor.toggleElement(\'<time>\', \'</time>\')') toggleElement('&lt;time&gt;', '&lt;/time&gt;')
          option(value='editor.toggleElement(\'<time>\', \'</time>\', true)') toggleElement('&lt;time&gt;', '&lt;/time&gt;', true)
          option(value='editor.toggleElement([\'time\', (new Date).toLocaleString(\'en\'), {datetime: (new Date).toISOString()}])') toggleElement(['time', date.toLocaleString('en'), {datetime: date.toISOString()}])
          option(value='editor.toggleElement([\'time\', (new Date).toLocaleString(\'en\'), {datetime: (new Date).toISOString()}], true)') toggleElement(['time', date.toLocaleString('en'), {datetime: date.toISOString()}], true)
          option(disabled value='editor.toggleInstruction(false, \'xml\')') toggleInstruction(false, 'xml')
          option(disabled value='editor.toggleInstruction(true, \'xml\')') toggleInstruction(true, 'xml')
        optgroup(label='wrap')
          option(value='editor.wrapComment()') wrapComment()
          option(value='editor.wrapComment(true)') wrapComment(true)
          option(value='editor.wrapData()') wrapData()
          option(value='editor.wrapData(true)') wrapData(true)
          option(value='editor.wrapElement(\'<time>\', \'</time>\')') wrapElement('&lt;time&gt;', '&lt;/time&gt;')
          option(value='editor.wrapElement(\'<time>\', \'</time>\', true)') wrapElement('&lt;time&gt;', '&lt;/time&gt;', true)
          option(value='editor.wrapElement([\'time\', (new Date).toLocaleString(\'en\'), {datetime: (new Date).toISOString()}])') wrapElement(['time', date.toLocaleString('en'), {datetime: date.toISOString()}])
          option(value='editor.wrapElement([\'time\', (new Date).toLocaleString(\'en\'), {datetime: (new Date).toISOString()}], true)') wrapElement(['time', date.toLocaleString('en'), {datetime: date.toISOString()}], true)
          option(disabled value='editor.wrapInstruction(false, \'xml\')') wrapInstruction(false, 'xml')
          option(disabled value='editor.wrapInstruction(true, \'xml\')') wrapInstruction(true, 'xml')
      button(onclick='return eval(this.previousElementSibling.value), false;') Execute
    h2 Strokes
    ul
      li <code>&lt;!--<mark></mark>--&gt;</code> or <code>&lt;!--&nbsp;<mark></mark>&nbsp;--&gt;</code> then press <kbd>Enter</kbd>.
      li <code>&lt;!--<mark></mark>--&gt;</code> then press <kbd>&nbsp;</kbd> (Space).
      li <code>&lt;!--<mark></mark></code> or <code>&lt;!--<mark></mark>--&gt;</code> then press <kbd>Backspace</kbd>.
      li <code>&lt;!--asdf--&gt;<mark></mark></code> then press <kbd>ArrowLeft</kbd>.
      li <code>&lt;!--asdf--&gt;<mark></mark></code> then press <kbd>Backspace</kbd>.
      li <code>&lt;!-<mark></mark></code> or <code>&lt;!-<mark></mark>&gt;</code> then press <kbd>-</kbd>.
      li <code>&lt;/div&gt;<mark></mark></code> then press <kbd>ArrowLeft</kbd>.
      li <code>&lt;/div&gt;<mark></mark></code> then press <kbd>Backspace</kbd>.
      li <code>&lt;<mark></mark></code> or <code>&lt;<mark></mark>&gt;</code> then press <kbd>?</kbd>.
      li <code>&lt;?<mark></mark></code> or <code>&lt;?<mark></mark>?&gt;</code> then press <kbd>Backspace</kbd>.
      li <code>&lt;?asdf?&gt;<mark></mark></code> then press <kbd>ArrowLeft</kbd>.
      li <code>&lt;?asdf?&gt;<mark></mark></code> then press <kbd>Backspace</kbd>.
      li <code>&lt;?xml<mark></mark>?&gt;</code> then press <kbd>Enter</kbd>.
      li <code>&lt;div /&gt;<mark></mark></code> then press <kbd>ArrowLeft</kbd>.
      li <code>&lt;div /&gt;<mark></mark></code> then press <kbd>Backspace</kbd>.
      li <code>&lt;div&gt;<mark></mark>&lt;/div&gt;</code> then press <kbd>Backspace</kbd>.
      li <code>&lt;div&gt;<mark></mark>&lt;/div&gt;</code> then press <kbd>Enter</kbd>.
      li <code>&lt;div&gt;<mark></mark></code> then press <kbd>ArrowLeft</kbd>.
      li <code>&lt;div&gt;<mark></mark></code> then press <kbd>Backspace</kbd>.
      li <code>&lt;div&gt;<mark></mark></code> then press <kbd>Enter</kbd>.
      li <code>&lt;div/&gt;<mark></mark></code> then press <kbd>ArrowLeft</kbd>.
      li <code>&lt;div/&gt;<mark></mark></code> then press <kbd>Backspace</kbd>.
      li <code>&lt;div<mark></mark></code> or <code>&lt;div<mark></mark>&gt;</code> then press <kbd>&gt;</kbd>.
      li <code>&lt;div<mark></mark></code> or <code>&lt;div<mark></mark>&gt;</code> then press <kbd>/</kbd>.
      li <code><mark></mark>&lt;!--asdf--&gt;</code> then press <kbd>ArrowRight</kbd>.
      li <code><mark></mark>&lt;!--asdf--&gt;</code> then press <kbd>Delete</kbd>.
      li <code><mark></mark>&lt;/div&gt;</code> then press <kbd>ArrowRight</kbd>.
      li <code><mark></mark>&lt;/div&gt;</code> then press <kbd>Delete</kbd>.
      li <code><mark></mark>&lt;?asdf?&gt;</code> then press <kbd>ArrowRight</kbd>.
      li <code><mark></mark>&lt;?asdf?&gt;</code> then press <kbd>Delete</kbd>.
      li <code><mark></mark>&lt;div&gt;</code> then press <kbd>ArrowRight</kbd>.
      li <code><mark></mark>&lt;div&gt;</code> then press <kbd>Delete</kbd>.
      li <code><mark></mark>&lt;div/&gt;</code> then press <kbd>ArrowRight</kbd>.
      li <code><mark></mark>&lt;div/&gt;</code> then press <kbd>Delete</kbd>.
      li <code><mark></mark>--&gt;</code> then press <kbd>Delete</kbd>.
      li <code><mark></mark>?&gt;</code> then press <kbd>Delete</kbd>.
    h2 Usage
    h3 Browser
    pre: code
      | &lt;script src="#[a(href='../text-editor/index.min.js' target='_blank') ./text-editor/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script src="#[a(href='../text-editor.history/index.min.js' target='_blank') ./text-editor.history/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script src="#[a(href='../text-editor.key/index.min.js' target='_blank') ./text-editor.key/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script src="#[a(href='../text-editor.source/index.min.js' target='_blank') ./text-editor.source/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script src="#[a(href='index.min.js' target='_blank') ./text-editor.source-x-m-l/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script&gt;
      |
      |   const editor = new TextEditor(document.querySelector('textarea'), {
      |       commands: {
      |           pull: function () {
      |               return this.pull().record(), false;
      |           },
      |           push: function () {
      |               return this.push().record(), false;
      |           },
      |           redo: function () {
      |               return this.redo(), false;
      |           },
      |           undo: function () {
      |               return this.undo(), false;
      |           }
      |       },
      |       keys: {
      |           'Control-[': 'pull',
      |           'Control-]': 'push',
      |           'Control-y': 'redo',
      |           'Control-z': 'undo'
      |       },
      |       tab: 2,
      |       // Be sure to put `TextEditor.SourceXML` before `TextEditor.Source`
      |       with: [TextEditor.History, TextEditor.Key, TextEditor.SourceXML, TextEditor.Source]
      |   });
      |
      | &lt;/script&gt;
    h3 CommonJS
    pre: code
      | const TextEditor = require('@taufik-nurrohman/text-editor').default;
      | const TextEditorHistory = require('@taufik-nurrohman/text-editor.history').default;
      | const TextEditorKey = require('@taufik-nurrohman/text-editor.key').default;
      | const TextEditorSource = require('@taufik-nurrohman/text-editor.source').default;
      | const TextEditorSourceXML = require('@taufik-nurrohman/text-editor.source-x-m-l').default;
      |
      | const editor = new TextEditor(document.querySelector('textarea'), {
      |     commands: {
      |         pull: function () {
      |             return this.pull().record(), false;
      |         },
      |         push: function () {
      |             return this.push().record(), false;
      |         },
      |         redo: function () {
      |             return this.redo(), false;
      |         },
      |         undo: function () {
      |             return this.undo(), false;
      |         }
      |     },
      |     keys: {
      |         'Control-[': 'pull',
      |         'Control-]': 'push',
      |         'Control-y': 'redo',
      |         'Control-z': 'undo'
      |     },
      |     tab: 2,
      |     // Be sure to put `TextEditorSourceXML` before `TextEditorSource`
      |     with: [TextEditorHistory, TextEditorKey, TextEditorSourceXML, TextEditorSource]
      | });
    h3 ECMAScript
    pre: code
      | import TextEditor from '@taufik-nurrohman/text-editor';
      | import TextEditorHistory from '@taufik-nurrohman/text-editor.history';
      | import TextEditorKey from '@taufik-nurrohman/text-editor.key';
      | import TextEditorSource from '@taufik-nurrohman/text-editor.source';
      | import TextEditorSourceXML from '@taufik-nurrohman/text-editor.source-x-m-l';
      |
      | const editor = new TextEditor(document.querySelector('textarea'), {
      |     commands: {
      |         pull: function () {
      |             return this.pull().record(), false;
      |         },
      |         push: function () {
      |             return this.push().record(), false;
      |         },
      |         redo: function () {
      |             return this.redo(), false;
      |         },
      |         undo: function () {
      |             return this.undo(), false;
      |         }
      |     },
      |     keys: {
      |         'Control-[': 'pull',
      |         'Control-]': 'push',
      |         'Control-y': 'redo',
      |         'Control-z': 'undo'
      |     },
      |     tab: 2,
      |     // Be sure to put `TextEditorSourceXML` before `TextEditorSource`
      |     with: [TextEditorHistory, TextEditorKey, TextEditorSourceXML, TextEditorSource]
      | });
    h2 Methods
    h3 Instance Methods
    h4: code editor.insertComment(value, mode = -1, clear = true)
    p Insert an #[abbr(title='Extensible Markup Language') XML] comment.
    pre: code
      | editor.insertComment('asdf'); // Delete selection and insert comment before caret
      | editor.insertComment('asdf', 0); // Replace selection with comment
      | editor.insertComment('asdf', +1); // Delete selection and insert comment after caret
    h4: code editor.insertData(value, mode = -1, clear = true)
    p Insert an #[abbr(title='Extensible Markup Language') XML] character data section.
    pre: code
      | editor.insertData('asdf'); // Delete selection and insert character data section before caret
      | editor.insertData('asdf', 0); // Replace selection with character data section
      | editor.insertData('asdf', +1); // Delete selection and insert character data section after caret
    h4: code editor.insertElement(value, mode = -1, clear = true)
    h4: code editor.insertElement(of, mode = -1, clear = true)
    p Insert an #[abbr(title='Extensible Markup Language') XML] element.
    pre: code
      | editor.insertElement('&lt;input type="text" /&gt;'); // Delete selection and insert element before caret
      | editor.insertElement('&lt;input type="text" /&gt;', 0); // Replace selection with element
      | editor.insertElement('&lt;input type="text" /&gt;', +1); // Delete selection and insert element after caret
    pre: code
      | editor.insertElement(['input', false, {type: 'text'}]); // Delete selection and insert element before caret
      | editor.insertElement(['input', false, {type: 'text'}], 0); // Replace selection with element
      | editor.insertElement(['input', false, {type: 'text'}], +1); // Delete selection and insert element after caret
    h4: code editor.peelComment(wrap = false)
    p Unwrap current selection from an #[abbr(title='Extensible Markup Language') XML] comment.
    pre: code
      | editor.peelComment();
    h4: code editor.peelData(wrap = false)
    p Unwrap current selection from an #[abbr(title='Extensible Markup Language') XML] character data section.
    pre: code
      | editor.peelData();
    h4: code editor.peelElement(open, close, wrap = false)
    h4: code editor.peelElement(of, wrap = false)
    p Unwrap current selection from an #[abbr(title='Extensible Markup Language') XML] element.
    pre: code
      | editor.peelElement('&lt;b&gt;', '&lt;/b&gt;');
      | editor.peelElement(['b']);
    h4: code editor.selectComment(wrap = false)
    h4: code editor.selectData(wrap = false)
    h4: code editor.selectElement(wrap = false)
    h4: code editor.selectInstruction(wrap = false)
    h4: code editor.toggleComment(wrap = false)
    p Toggle wrap and peel selection of an #[abbr(title='Extensible Markup Language') XML] comment.
    pre: code
      | editor.toggleComment();
    h4: code editor.toggleData(wrap = false)
    p Toggle wrap and peel selection of an #[abbr(title='Extensible Markup Language') XML] character data.
    pre: code
      | editor.toggleData();
    h4: code editor.toggleElement(open, close, wrap = false)
    h4: code editor.toggleElement(of, wrap = false)
    p Toggle wrap and peel selection of an #[abbr(title='Extensible Markup Language') XML] element.
    pre: code
      | editor.toggleElement('&lt;b&gt;', '&lt;/b&gt;');
      | editor.toggleElement(['b']);
    h4: code editor.wrapComment(wrap = false)
    p Wrap current selection with an #[abbr(title='Extensible Markup Language') XML] comment.
    pre: code
      | editor.wrapComment();
    h4: code editor.wrapData(wrap = false)
    p Wrap current selection with an #[abbr(title='Extensible Markup Language') XML] character data.
    pre: code
      | editor.wrapData();
    h4: code editor.wrapElement(open, close, wrap = false)
    h4: code editor.wrapElement(of, wrap = false)
    p Wrap current selection with an #[abbr(title='Extensible Markup Language') XML] element.
    pre: code
      | editor.wrapElement('&lt;b&gt;', '&lt;/b&gt;');
      | editor.wrapElement(['b']);
  footer
    hr
    p
      != '&copy; ' + year + ' '
      a(href='/') Taufik Nurrohman